@use "../base/vars" as v;

.credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.7rem;
    padding: 4rem;
    background-color: v.$darkerGrey;
    border-radius: 0.2rem 3rem 0.2rem 3rem;
    width: 95%;
    margin-top: 15.5rem;
    box-shadow: 2px 2px 5px;
    @include v.mq(tablet) {
        margin-top: 17.2rem;
    }

    @include v.mq(laptop) {
        margin-top: 12.5rem;
        margin-left: 1rem;
    }

    @include v.mq(desktop) {
        margin-left: 2rem;
    }

    &__forms {
        display: flex;
        flex-direction: column;

        &__label {
            font-family: v.$Nunito;
            color: v.$silver;
            font-size: v.$S;
        }

        &__form {
            display: flex;
            flex-direction: column;
        }

        &__input {
            margin: 0.5rem 0;
        }
    }

    &__button {
        font-family: v.$Nunito;
        background-color: v.$darkerGrey;
        border: 1px solid v.$silver;
        color: v.$silver;
        border-radius: 0.2rem;
        padding: 0 0.3rem;
        margin: 0.5rem 0;
        margin-top: 1rem;

        // &:hover {
        //     background-color: v.$silver;
        //     border: 1px solid v.$darkerGrey;
        //     color: v.$darkerGrey;
        //     cursor: pointer;
        // }
    }
}
