@use "../base/vars" as v;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__logo-title {
        margin: 0 0.5rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        width: auto;
    }

    &__logo {
        width: v.$L;
        border-radius: v.$S;
        margin: auto 2rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: v.$M;
        font-family: v.$Nunito;
        font-style: italic;
        font-weight: bold;
        color: v.$silver;
        margin-top: 0.2rem;
        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    &__text {
        margin: 1rem;
        font-family: v.$Nunito;
        font-weight: bold;
        font-size: v.$S;
        color: v.$silver;
        &:hover {
            color: white;
        }
    }
}
