@use "../base/vars" as v;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: v.$darkerGrey;
    border-bottom: 6px solid v.$lighterGrey;
    box-shadow: 0 4px 0.5rem;

    @include v.mq(laptop) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0.5rem;
        padding-bottom: 1.5rem;
    }

    &__logo-title {
        margin: 0 0.1rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        width: 100%;

        @include v.mq(desktop) {
            width: 67%;
            margin: 0 1rem;
            margin-top: 1rem;
        }
    }

    &__logo {
        width: v.$L;
        border-radius: v.$S;
        box-shadow: 2px 2px #383838;
        &:hover {
            cursor: pointer;
        }

        @include v.mq(tablet) {
            width: 6rem;
        }

        @include v.mq(laptop) {
            width: 4.5rem;
        }

        @include v.mq(desktop) {
            width: 5rem;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;

        @include v.mq(laptop) {
            flex-direction: column;
            margin-top: 1rem;
            width: 50%;
        }
    }

    &__title {
        font-size: v.$M;
        font-family: v.$SpectralSC;
        font-style: italic;
        font-weight: bold;
        color: v.$silver;
        margin-top: 0.5rem;
        padding-right: 0.5rem;
        text-shadow: 2px 2px #383838;

        @include v.mq(tablet) {
            font-size: 3.5rem;
        }

        @include v.mq(laptop) {
            font-size: 2.7rem;
        }

        @include v.mq(desktop) {
            font-size: 3rem;
            margin-left: 0.9rem;
        }

        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    &__text {
        margin: 1rem;
        font-family: v.$SpectralSC;
        font-weight: bold;
        font-size: 1.3rem;
        color: v.$silver;
        text-shadow: 2px 2px #383838;

        @include v.mq(tablet) {
            font-size: 2rem;
        }

        @include v.mq(laptop) {
            font-size: v.$S;
        }

        &:hover {
            color: white;
        }
    }
}
