@use "../base/vars" as v;

.searchForm {
    margin: 1rem auto;
    padding: 10rem auto;
    width: 100%;
    display: flex;
    justify-content: center;

    &__input {
        border-radius: 0.2rem 0 0 0.2rem;
    }

    &__button {
        background-color: v.$darkerGrey;
        border: 1px solid v.$silver;
        color: v.$silver;
        border-radius: 0 0.2rem 0.2rem 0;
        padding: 0 0.3rem;

        &:hover {
            background-color: v.$silver;
            border: 1px solid v.$darkerGrey;
            color: v.$darkerGrey;
            cursor: pointer;
        }
    }
}
