@use "../base/vars" as v;

.searchForm {
    margin: 2rem auto;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        @include v.mq(tablet) {
            width: 85%;
            align-self: center;
            // padding: 0 3.5rem;
        }
    }

    &__input {
        border-radius: 0.2rem 0 0 0.2rem;
        @include v.mq(tablet) {
            width: 75%;
            margin-left: 7%;
        }

        @include v.mq(laptop) {
            width: 60%;
        }
    }

    &__button {
        background-color: v.$darkerGrey;
        border: 1px solid v.$silver;
        color: v.$silver;
        border-radius: 0 0.2rem 0.2rem 0;
        padding: 0 0.3rem;

        &:hover {
            background-color: v.$silver;
            border: 1px solid v.$darkerGrey;
            color: v.$darkerGrey;
            cursor: pointer;
        }
    }
}
